<div class="footer">
    
    <h2>Kyle Prindle</h2>
    <a class="phone"href= “tel:+2039137068">(203) 913-7068</a>
</div>
</html>

<style>
	.footer {
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-width: 10px;
		background-color: rgb(92, 99, 99);
	}
    h2{
        color: white;
    }
    .phone{
        text-decoration: none;
        background-color: rgb(92, 99, 99);
        color: white;
        font-size: large;
    }
    a:hover{
        color: #42a1ec;
    }
</style>
