<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kyle Prindle</title>
</head>
<body class="background">
<div class = "header">
    <img class="profilePic" src="images/profilePic.jpg" alt="ProfilePic" />
    <nav> 
        
            <a href='/'>Home</a>  
            <a href='/coverLetter'>Cover Letter</a>
            <a href='/experience'>Experience</a>
    </nav>
    <h1>Kyle Prindle</h1>
   
</div>

<style>
    .header {
        background-color: aqua;
    }
    .profilePic{
        width: 10%;
    }
    .header{
        text-align: center;
    }
</style>