<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Kyle Prindle</title>
	</head>
	<div class="header">
		<a href="/login"
			><img class="profilePic" src="../images/profilePic.png" alt="ProfilePic"
		/></a>
		<h1>Kyle Prindle</h1>
		<nav>
			<a class="navLink" href="/">About Me</a>
			<a class="navLink" href="/coverLetter">Cover Letter</a>
			<a class="navLink" href="/experience">Job Experience</a>
			<a class="navLink" href="/application">Projects</a>
		</nav>
	</div>

	<style>
		.header {
			background-color: rgb(92, 99, 99);
			padding-bottom: 2%;
			padding-top: 2%;
		}
		.profilePic {
			width: 10%;
		}
		.header {
			text-align: center;
		}
		h1 {
			color: rgb(255, 255, 255);
			font-style: oblique;
			font-variant: solid;
		}
		.navLink {
			text-decoration: none;
			padding: 20px;
			background-image: linear-gradient(#42a1ec, #0070c9);
			border: 1px solid #0077cc;
			border-radius: 4px;
			box-sizing: border-box;
			color: #ffffff;
			cursor: pointer;
			direction: ltr;
			display: inline-block;
			font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
				Helvetica, Arial, sans-serif;
			font-size: 17px;
			font-weight: 400;
			letter-spacing: -0.022em;
			line-height: 1.47059;
			min-width: 30px;
			overflow: visible;
			padding: 4px 15px;
			text-align: center;
			vertical-align: baseline;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
			white-space: nowrap;
		}

		.navLink:disabled {
			cursor: default;
			opacity: 0.3;
		}

		.navLink:hover {
			background-image: linear-gradient(#51a9ee, #147bcd);
			border-color: #1482d0;
			text-decoration: none;
		}

		.navLink:active {
			background-image: linear-gradient(#3d94d9, #0067b9);
			border-color: #006dbc;
			outline: none;
		}

		.navLink:focus {
			box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
			outline: none;
		}
	</style>
</html>
