<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Riders Connect</title>
</head>
<body class="background">
<div class = "header">
    <img src="/images/ProfilePic.png" alt="ProfilePic" />
    <nav> 
        
            <a href='/'>Home</a>  
            <a href='/coverLetter'>Cover Letter</a>
            <a href="/experience">Experience</a>
    </nav>
    <h1>Kyle Prindle</h1>
   
</div>

<style>
    .header {
        background-color: aqua;
    }
</style>