<%- include('./partials/header.ejs')%>
<h1 class="center">Developed Projects</h1>
<a class="button-15"href="https://github.com/kprindle" target="_blank" rel="noreferrer noopener">Link to Github Page</a>
<div class="application">
	<table class="table">
    <tr><th class="border-bottom">Descriptions of Projects</th></tr>
		<%applications.forEach(application=>{%>
            <tr>
                <tr>
                    <th class = "title"><%=application.name%></th>
                </tr>
                <tr>
                    <td class="description"><%=application.description%></td>
                </tr>
            </tr>
        <%})%>
        
	</table>
</div>
<%if(admin){%>
<a class="button-15" href='/application/new'>Add New application</a>
<%}%>

<%- include('./partials/footer.ejs')%>

<style>
  .title{
    font-family: sans-serif;
    font-size: 20px;
  }
  .description{
    font-family: 'Times New Roman', Times, serif;

  }
   td, th{
      padding-top: 5%;
      padding-bottom: 7.5%;
  }
  td{
    border-bottom: 1px solid black;
  }
  .border-bottom{
    border-bottom: 1px solid black;
  }
    .center {
        text-align: center;
    }
    .application{
        background-color: rgb(92, 99, 99);
        color: white;
        padding-top: 4%;
        display:flex;
        padding-bottom: 4%;
        justify-content: center;
        padding-left: 20%;
        padding-right: 20%;
    }
    .table{
    background-color: rgba(255, 255, 255, 0.623);
    color: black;
		padding-right: 10%;
    padding-left: 10%;
		padding-bottom: 50px;
		box-shadow: 5px 10px #8888887a;
    padding-top: 10%;
    }

.button-15 {
  text-decoration: none;
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block; 
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 8px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 10px;
}
</style>
