<%- include('./partials/header.ejs')%>
<table class="coverLetter">
		<tr>
			<td><h1 class="center">Cover Letter</h1></td>
		</tr>
		<tr>
			<td class="resume"><img src="images/keepCalm.webp" alt="jpg" class="r2"/></td>
		</tr>
	</table>
<%- include('./partials/footer.ejs')%>

<style>
	.coverLetter h1 {
		color: black;
		font-size: 48px;
	}

	.center{
		text-align: center;
	}

	.coverLetter {
        background-color: rgb(92, 99, 99);
		display: flex;
		justify-content: center;
		padding-top: 2%;
		padding-bottom: 5%;
	}

    .resume {
        background-color: rgba(255, 255, 255, 0.623);
    color: black;
		box-shadow: 10px 10px  #313131e0;
    	padding-top: 75px;
		padding-left: 75px;
		padding-right: 75px;
		padding-bottom: 75px;
    }
	.r2{
		box-shadow: 10px 10px  #8888887a;
	}

</style>