<!DOCTYPE html>
<html lang="en" class="background">
	<head>
		<meta charset="UTF-8" />
		<title>Kyle Prindle</title>
	</head>
	<div class="header">
		<nav>
			<a class="navLink" href="/">About Me</a>
			<a class="navLinkActive" href="/coverLetter">Cover Letter</a>
			<a class="navLink" href="/resume">Resume</a>
			<a class="navLink" href="/projects">Projects</a>
			<a href="" class="navLink">Contact Me</a>
		</nav>
	</div>
<table class="coverLetter">
		<tr>
			<td><h1 class="coverLetter-title">Cover Letter</h1></td>
		</tr>
		<tr>
			<td class="cover-Letter"><img src="images/keepCalm.webp" alt="jpg" class="r2"/></td>
		</tr>
	</table>
</html>
<style>
	.coverLetter h1 {
		color: black;
	}

	.center{
		text-align: center;
	}

	.coverLetter {
        background-color: rgb(92, 99, 99);
		display: flex;
		justify-content: center;
		padding-top: 2%;
		padding-bottom: 5%;
	}

    .cover-Letter {
        background-color: #BBC2CC;
    color: black;
		box-shadow: 10px 10px  #000000e0;
    	padding-top: 75px;
		padding-left: 75px;
		padding-right: 75px;
		padding-bottom: 75px;
    }
	.coverLetter-title {
		background-color: #BBC2CC;
    color: black;
		box-shadow: 10px 10px  #000000e0;
    	padding-top: 15px;
		padding-left: 75px;
		padding-right: 75px;
		padding-bottom: 15px;
	}
	.r2{
		box-shadow: 10px 10px  #8888887a;
	}

			.background {
			background-color: rgb(92, 99, 99);
		}
		.header {
			background-color: rgb(92, 99, 99);
			padding-bottom: 2%;
			padding-top: 2%;
		}
		.navLink {
			text-decoration: none;
			padding: 20px;
			border-radius: 4px;
			box-sizing: border-box;
			color: #ffffff;
			cursor: pointer;
			direction: ltr;
			display: inline-block;
			font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
				Helvetica, Arial, sans-serif;
			font-size: 17px;
			font-weight: 400;
			letter-spacing: -0.022em;
			line-height: 1.47059;
			min-width: 30px;
			overflow: visible;
			padding: 4px 15px;
			text-align: center;
			vertical-align: baseline;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
			white-space: nowrap;
			padding-right: 30px;
			padding-left: 30px;
		}
		.navLink:hover {
			background-image: linear-gradient(#51a9ee, #147bcd);
			border-color: #1482d0;
			text-decoration: none;
		}
		.navLinkActive {
	text-decoration: underline #147bcd 4px solid; 
	text-underline-offset: 5px;
	padding: 20px;
	border-radius: 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: -0.022em;
	line-height: 1.47059;
	min-width: 30px;
	overflow: visible;
	padding: 4px 15px;
	text-align: center;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	padding-right: 30px;
	padding-left: 30px;
}
.navLinkActive:hover {
	background-image: linear-gradient(#51a9ee, #147bcd);
	border-color: #1482d0;
	text-decoration: none;
}
</style>