<!DOCTYPE html>
<html lang="en" class="background">
	<head>
		<meta charset="UTF-8" />
		<title>Kyle Prindle</title>
	</head>
	<div class="header">
		<nav>
			<a class="navLinkActive" href="/">About Me</a>
			<a class="navLink" href="/coverLetter">Cover Letter</a>
			<a class="navLink" href="/resume">Resume</a>
			<a class="navLink" href="/projects">Projects</a>
			<a href="" class="navLink">Contact Me</a>
		</nav>
	</div>
	<div class="title-outline">
					<div class="title">
						<h1 class="center">About me</h1>
					</div></div>
	<div class="dib">
		<div>
			<table class="content">
				<tr>
					<td><h2>What I've Done</h2></td>
				</tr>
				<tr>
					<td>
						<h3>
							Throughout my time at UNCC I have gained knowledge and experience about a
							various array of topics in the computer science field including software
							development, cyber security, and computer Architecture. My interests lie
							most in web applications, typically front-end web development. From the
							classes that I have taken, I also have experience in full stack
							development using JavaScript, html, and CSS. Along with this, I have some
							knowledge of the back end from utilizing mongo DB or SQL.
						</h3>
					</td>
				</tr>
				<tr>
					<td><h2>What I'm Doing</h2></td>
				</tr>
				<tr>
					<td>
						<h3>
							I am currently finishing my last semester at the University of North
							Carolina at Charlotte. In December I will graduate with a bachelors
							degree in computer science with a concentration of web and mobile
							applications. I am currently working as a Valet in uptown Charlotte in
							order to work through college but I am searching for a full time position
							in web developement starting in the beginning of 2023.
						</h3>
					</td>
				</tr>
				<tr>
					<td><h2>What I Want To Do</h2></td>
				</tr>
				<tr>
					<td>
						<h3>
							In the near future, I want to get into the web development space. I am
							looking to get a position as a front-end developer. With my experience in
							full stack, I think I am more geared towards the front end and can bring
							more to the table as a front-end developer. I am excited to work in a
							team atmosphere and think I can bring a leadership role in that
							environment.
						</h3>
					</td>
				</tr>
			</table>
		</div>
	</div>
</html>

<style>
		.title {
		background-color: #bbc2cc;
		color: black;
		box-shadow: 10px 10px #000000e0;
		padding-left: 5%;
		padding-right: 10%;
		display: flex;
	}
	.title-outline {
		padding-top: 5%;
		padding-left: 12%;
			padding-right: 12%;
		padding-bottom: 2%;
		margin-left: auto;
		margin-right: auto;
	}
	.dib {
		background-color: rgb(92, 99, 99);
		padding-right: 10%;
		padding-left: 10%;
		padding-bottom: 5%;
	}
	.content {
		background-color: #BBC2CC;
		box-shadow: 15px 15px #000000e0;
		display: flex;
		justify-content: center;
		padding-top: 2%;
		padding-bottom: 5%;
		/* text-align: center; */
	}
	.dib h1 {
		color: black;
		text-align: center;
		padding-bottom: 2%;
		font-size: 48px;
		padding-top: 2%;
	}

	.content h2,
	h3 {
		color: black;
		padding-left: 10%;
		padding-right: 10%;
	}
	.content h2 {
		padding-left: 15%;
	}
	.content h3 {
		padding-bottom: 5%;
	}

	.background {
		background-color: rgb(92, 99, 99);
	}
	.header {
		background-color: rgb(92, 99, 99);
		padding-bottom: 2%;
		padding-top: 2%;
	}
	.navLink {
		text-decoration: none;
		padding: 20px;
		border-radius: 4px;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		direction: ltr;
		display: inline-block;
		font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
			Helvetica, Arial, sans-serif;
		font-size: 17px;
		font-weight: 400;
		letter-spacing: -0.022em;
		line-height: 1.47059;
		min-width: 30px;
		overflow: visible;
		padding: 4px 15px;
		text-align: center;
		vertical-align: baseline;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		white-space: nowrap;
		padding-right: 30px;
		padding-left: 30px;
	}
	.navLink:hover {
		background-image: linear-gradient(#51a9ee, #147bcd);
		border-color: #1482d0;
		text-decoration: none;
	}
	.navLinkActive {
		text-decoration: underline #147bcd 4px solid;
		text-underline-offset: 5px;
		padding: 20px;
		border-radius: 4px;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		direction: ltr;
		display: inline-block;
		font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
			Helvetica, Arial, sans-serif;
		font-size: 17px;
		font-weight: 400;
		letter-spacing: -0.022em;
		line-height: 1.47059;
		min-width: 30px;
		overflow: visible;
		padding: 4px 15px;
		text-align: center;
		vertical-align: baseline;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		white-space: nowrap;
		padding-right: 30px;
		padding-left: 30px;
	}
	.navLinkActive:hover {
		background-image: linear-gradient(#51a9ee, #147bcd);
		border-color: #1482d0;
		text-decoration: none;
	}
</style>
