<!-- header -->
<!DOCTYPE html>
<html lang="en" class="background">
	<head>
		<meta charset="UTF-8" />
		<title>Kyle Prindle</title>
	</head>
	<div class="header">
		<nav>
			<a class="navLink" href="/">About Me</a>
			<a class="navLink" href="/coverLetter">Cover Letter</a>
			<a class="navLink" href="/resume">Resume</a>
			<a class="navLinkActive" href="/projects">Projects</a>
			<a href="" class="navLink">Contact Me</a>
		</nav>
	</div>
	<div class="title-outline">
		<div class="title">
			<h1 class="center">Projects</h1>
		</div>
	</div>

	<!-- projects -->
	<div class="project-outline">
		<div class="project">
			<h2 class="project-title">SnowLink</h2>
			<img src="images\project.jpg" alt="" class="project-pic" />
			<a
				href="https://github.com/kprindle/SnowLink"
				class="project-Github-link"
				target="_blank"
				rel="noreferrer noopener"
				>Github Repository</a
			>
			<a href="" class="project-links" target="_blank" rel="noreferrer noopener"
				>Live Version</a
			>
		</div>

		<div class="project">
			<h2 class="project-title">UNCC Connected</h2>
			<img src="../images/project.jpg" alt="" class="project-pic" />
			<a
				href="https://github.com/kprindle/UNCC-Connected"
				class="project-Github-link"
				target="_blank"
				rel="noreferrer noopener"
				>Github Repository</a
			>
			<a href="" class="project-links" target="_blank" rel="noreferrer noopener"
				>Live Version</a
			>
		</div>

		<div class="project">
			<h2 class="project-title">Personal Portfolio</h2>
			<img src="../images/project.jpg" alt="" class="project-pic" />
			<a
				href="https://github.com/kprindle/portfolio"
				class="project-Github-link"
				target="_blank"
				rel="noreferrer noopener"
				>Github Repository</a
			>
			<a href="" class="project-links" target="_blank" rel="noreferrer noopener"
				>Live Version</a
			>
		</div>

		<!-- <div class="project">
		<h2 class="project-title">title</h2>
		<img src="../images/project.jpg" alt="" class="project-pic" />
		<a href="" class="project-Github-link">Github Repository</a>
		<a href="" class="project-links">Live Version</a>
	</div> -->
	</div>

	<!-- link to github page -->
	<div class="greyBack">
		<a
			class="button-15"
			href="https://github.com/kprindle"
			target="_blank"
			rel="noreferrer noopener"
			>Full Github Account</a
		>
	</div>
</html>

<style>
	.title {
		background-color: #bbc2cc;
		color: black;
		box-shadow: 10px 10px #000000e0;
		padding-left: 5%;
		padding-right: 10%;
		display: flex;
	}
	.title-outline {
		padding-top: 5%;
		padding-left: 17.5%;
		padding-right: 17.5%;
	}
	.greyBack {
		background-color: rgb(92, 99, 99);
		padding-right: 20%;
		padding-left: 20%;
		padding-bottom: 10%;
		text-align: left;
	}
	.center {
		text-align: center;
		color: black;
		font-size: 44px;
	}

	.project {
		width: 350px;
		height: 450px;
		background-color: #bbc2cc;
		box-shadow: 15px 15px #000000;
		display: inline-block;
		margin: 2%;
	}

	.project-outline {
		padding-top: 5%;
		padding-left: 17.5%;
		padding-right: 17.5%;
		padding-bottom: 2%;
	}

	.project-title {
		display: flex;
		justify-content: center;
		color: black;
		font-family: "Courier New", Courier, monospace;
	}
	.project-pic {
		padding-top: 2%;
		margin-left: 5%;
		margin-right: 5%;
		/* border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%; */
		box-shadow: 10px 15px #1a1a1a7a;
	}

	.project-links {
		text-decoration: none;
		color: white;
		display: flex;
		justify-content: center;
		background-image: linear-gradient(#34bb71, #1f4e2b);
		font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
			Helvetica, Arial, sans-serif;
		padding: 5%;
		width: 200px;
		margin-left: 15%;
		margin-bottom: 10%;
		margin-top: 10%;
		border-radius: 10px;
	}

	.project-Github-link {
		text-decoration: none;
		color: white;
		display: flex;
		justify-content: center;
		background-image: linear-gradient(#9201e6, #5e017a);
		font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
			Helvetica, Arial, sans-serif;
		padding: 5%;
		width: 200px;
		margin-left: 15%;
		margin-bottom: 10%;
		margin-top: 10%;
		border-radius: 10px;
	}

	.project-links:hover,
	.project-Github-link:hover,
	.button-15:hover {
		color: black;
		opacity: 75%;
	}
	.button-15 {
		text-decoration: none;
		background-image: linear-gradient(#9201e6, #5e017a);
		border-radius: 4px;
		color: #ffffff;
		cursor: pointer;
		direction: ltr;
		display: block;
		font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
			Helvetica, Arial, sans-serif;
		font-size: 17px;
		font-weight: 400;
		letter-spacing: -0.022em;
		line-height: 1.47059;
		min-width: 30px;
		overflow: visible;
		padding: 8px;
		text-align: center;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		white-space: nowrap;
	}
	.background {
		background-color: rgb(92, 99, 99);
	}
	.header {
		background-color: rgb(92, 99, 99);
		padding-bottom: 2%;
		padding-top: 2%;
	}
	.navLink {
		text-decoration: none;
		padding: 20px;
		border-radius: 4px;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		direction: ltr;
		display: inline-block;
		font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
			Helvetica, Arial, sans-serif;
		font-size: 17px;
		font-weight: 400;
		letter-spacing: -0.022em;
		line-height: 1.47059;
		min-width: 30px;
		overflow: visible;
		padding: 4px 15px;
		text-align: center;
		vertical-align: baseline;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		white-space: nowrap;
		padding-right: 30px;
		padding-left: 30px;
	}
	.navLink:hover {
		background-image: linear-gradient(#51a9ee, #147bcd);
		border-color: #1482d0;
		text-decoration: none;
	}
	.navLinkActive {
		text-decoration: underline #147bcd 4px solid;
		text-underline-offset: 5px;
		padding: 20px;
		border-radius: 4px;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		direction: ltr;
		display: inline-block;
		font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
			Helvetica, Arial, sans-serif;
		font-size: 17px;
		font-weight: 400;
		letter-spacing: -0.022em;
		line-height: 1.47059;
		min-width: 30px;
		overflow: visible;
		padding: 4px 15px;
		text-align: center;
		vertical-align: baseline;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		white-space: nowrap;
		padding-right: 30px;
		padding-left: 30px;
	}
	.navLinkActive:hover {
		background-image: linear-gradient(#51a9ee, #147bcd);
		border-color: #1482d0;
		text-decoration: none;
	}
</style>
