<%- include('./partials/header.ejs')%>
<div class="coverLetter">
	<img src="images/resume.jpg" alt="jpg" class="resume"/>
</div>
<%- include('./partials/footer.ejs')%>

<style>
	.coverLetter {
        background-color: rgb(92, 99, 99);
		display: flex;
		justify-content: center;
		padding-top: 2%;
		padding-bottom: 2%;
	}
    .resume {
        width: 800px;
    }
</style>
