<%- include('../partials/header.ejs')%>
<div class="form">
	<form action="/application/new" method="post" class="form2">
		<table>
			<tr>
				<td><label for="name">Name</label></td>
				<td><input type="text" name="name" id="name" /></td>
			</tr>
			<tr>
				<td><label for="description">Description</label></td>
				<td>
					<textarea
						name="description"
						id="description"
						cols="30"
						rows="10"
					></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button>Submit</button></td>
			</tr>
		</table>
	</form>
</div>
<%- include('../partials/footer.ejs')%>

<style>
	.form {
		background-color: rgb(92, 99, 99);
		padding-bottom: 10%;
		display: flex;
		justify-content: center;
	}
	.form2 {
		background-color: rgba(255, 255, 255, 0.623);
		padding-right: 10%;
		padding-left: 10%;
		padding-top: 10%;
		padding-bottom: 10%;
		box-shadow: 5px 10px #8888887a;
	}
</style>
